<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="FineFindus" />
    {% block seo %}
    <meta name="description" content="Personal website" />
    <meta property="og:title" content="Home" />
    <meta property="og:description" content="Personal website" />
    <meta property="og:type" content="article" />
    {% endblock %}
    <title>{% block title %}Home{% endblock %} | FineFindus</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    {% block rss %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="/atom.xml">
    {% endblock %}
  </head>

  <body>
    {% include "header.html" %}
    <section class="section container">
      {% block content %} {% endblock %}
    </section>

    {% include "footer.html" %}
  </body>
</html>
