{% extends "base.html" %}

{% block content %}
<h1 class="title">Blog</h1>

<!-- List all blogs with prepended date-->
{% set section = get_section(path="blog/_index.md") %}
<!-- <h2>Articles</h2> -->
<ul class="posts">
  {% for page in section.pages %}
  <li>
    <span><time datetime="{{ page.date }}">{{ page.date }}</time>: </span>
    <a href="{{ page.permalink }}" title="{{ page.description }}"
      >{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>

<p><a href="/atom.xml">RSS Feed</a></p>

{% endblock content %}
